<?xml version="1.0"?>
<robot name="pantilt" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="serial_port"    default="/dev/ttySERVO"/>
  <xacro:arg name="baud_rate"      default="1000000"/>
  <xacro:arg name="use_mock"       default="false"/>
  <xacro:arg name="use_sync_write" default="true"/>

  <xacro:include filename="$(find pt_description)/urdf/pantilt.common.xacro"/>
  <xacro:include filename="$(find pt_description)/urdf/pantilt.control.xacro"/>
  <xacro:include filename="$(find pt_description)/urdf/pantilt.module.xacro"/>

  <!-- Standalone pantilt module instantiation -->
  <link name="base_footprint"/>
	<xacro:pantilt_module parent="base_footprint">
	  <origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:pantilt_module>

  <!-- Gazebo only: spawns controller_manager in gz_sim; inert elsewhere -->
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg simulation_controllers)</parameters>
    </plugin>
  </gazebo>

</robot>
